.total {
  min-width: 100vw;
  min-height: 100vh;
  padding-bottom: 5rem;
  background-color: var(--bckg-color);
}

.layout {
  text-align: center;
  padding: 8px;
  margin: auto;
  margin-top: -10rem;
  max-width: 1200px;
  scroll-margin-top: 5rem;
}

.backgroundMap {
  width: 100%;
  height: 15rem;
  background: url("../../assets/map.png") no-repeat;
  background-size: cover;
  background-position: left 55% top 100%;
}
