.panel {
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 60px;
  width: 95vw;
  max-width: 400px;
  padding: 8px;
  background-color: var(--sec-color);
  border-top-right-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  z-index: 10;
  display: inline-block;
}

.panel a {
  text-decoration: none;
}

.panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.panel li {
  margin: 0 6px;
  float: left;
}

.panel .vertical {
  height: 40px;
  margin: 0 12px;
  /* border-left: 1px var(--main-color) solid; */
}
/* 
.panel .mobile {
  display: inline-block;
}

.panel .desktop {
  display: none;
} */

.link {
  position: relative;
}

.button {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px transparent solid;
  border-radius: var(--border-radius);
}

.letter {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--main-color);
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: -45px;
  left: 0px;
  z-index: 1;
  width: 150px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  text-align: center;
  font-size: 0.8rem;
  background-color: var(--sec-color);
  color: var(--main-color);
}

.token {
  width: 36px;
  height: 36px;
  text-align: center;
  /* border: 1px transparent solid; */
  border-radius: 20px;
}

.token_svg {
  width: 36px;
  height: 36px;
}

@media (min-width: 30rem) {
  .panel .desktop {
    display: inline-block;
  }
  .panel .mobile {
    display: none;
  }
  .panel nav {
    width: calc(100% - 280px);
  }
}

@media (hover: hover) {
  .link:hover .button {
    border: 1px var(--main-color) solid;
  }
  .link:hover .token {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }

  .link:hover .tooltip {
    visibility: visible;
  }
}
