.card {
  display: inline-block;
  margin: 4px;
  padding: 0rem;
  border: 1px #3f3f3f solid;
  border-radius: 8px;
  background-color: #FFFEF5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  overflow: hidden;
  width: 45%;
  max-width: 212px;
}

.image {
  max-width: 100%;
  height: auto;
}

.title {
  color: #3f3f3f;
  padding: 4px;
  text-align: center;
}