.main {
  display: inline-block;
  max-width: 800px;
  margin: 0px;
  padding: 4px;
  background-color: transparent;
}

.description {
  display: none;
}

.order a {
  text-decoration: none;
}

.unit {
  text-align: center;
  display: block;
  margin: 6px 4px;
  padding: 8px;
  border: var(--border);
  border-radius: var(--border-radius);
  line-height: 1.6rem;
}

.alive {
  background-color: var(--bckg-color);
}

.dead {
  background-color: #ff8888;
}

.token {
  width: 48px;
}

.name {
  font-family: var(--font-family);
  color: var(--black-color);
  font-size: 1rem;
  font-weight: bold;
}

.value {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--black-color);
}

.links {
  display: none;
}
