.main {
  margin: 16px auto;
  padding: 8px 0;
  background-color: var(--bckg-color);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.vertical {
  display: inline-block;
  width: 0;
  height: 320px;
  margin-top: 20px;
  border-left: 1px var(--main-color) solid;
  vertical-align: top;
}

.header {
  margin: 0px;
}

.pickerBlock {
  display: inline-block;
  margin: 8px 4px;
}

.picker {
  max-width: 170px;
}

.tokenBlock {
  display: inline-block;
  margin: 8px 8px 0;
}

.tokenTest {
  display: inline-block;
  position: relative;
  margin: 8px 8px 0;
}

.tokenTest_map {
  width: 350px;
}

.tokenTest_svg {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 140px;
  left: 175px;
}

.svg_max {
  width: 100px;
  height: 100px;
}

.svg_48 {
  width: 48px;
  height: 48px;
}

.svg_24 {
  width: 24px;
  height: 24px;
}
