.main {
  margin: 2rem auto;
  background-color: #fffef5;
  border: 1px #3f3f3f solid;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.card {
  margin-bottom: 40px;
  text-align: left;
}

.name {
  display: inline-block;
  font-weight: bold;
}

.datetime {
  display: inline-block;
  padding: 0 32px;
}

.comment {
  margin: 16px 0;
}
